---
BasedOnStyle: Mozilla
AccessModifierOffset: '-4'
AlignEscapedNewlines: DontAlign
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackParameters: 'false'
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
BreakBeforeBraces: Custom
ColumnLimit: '100'
ConstructorInitializerIndentWidth: '4'
DisableFormat: 'false'
FixNamespaceComments: 'true'
IndentWidth: '4'
SortIncludes: 'false'
Standard: Cpp11
UseTab: Never